include README.md
include CHANGES.txt
include MANIFEST.in
include index.html
include setup.py
include aerocalc/*.py
include aerocalc/*.txt
include aerocalc/test/*
include aerocalc/engine/*.py
include aerocalc/engine/lycoming/*.py
recursive-exclude **/__py_cache__ *.py*
exclude MANIFEST
recursive-exclude build/ *
recursive-exclude dist/ *
recursive-exclude *egg-info/ *